{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "comment-empty-line-before": null,
    "declaration-empty-line-before": null,
    "selector-pseudo-element-colon-notation": null,
    "no-descending-specificity": null,
    "order/properties-order": [
      "position",
      "z-index",
      "display",
      "content",
      "opacity",
      "box-sizing",
      "overflow",
      "overflow-x",
      "overflow-y",
      "top",
      "bottom",
      "right",
      "left",
      "margin",
      "margin-top",
      "margin-bottom",
      "margin-right",
      "margin-left",
      "padding",
      "padding-top",
      "padding-bottom",
      "padding-right",
      "padding-left",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "background",
      "background-color",
      "background-image",
      "src",
      "font",
      "font-family",
      "font-size",
      "font-weight",
      "fon-style",
      "line-height",
      "letter-spacing",
      "white-space",
      "color",
      "text-align",
      "text-decoration",
      "text-transform",
      "border",
      "border-top",
      "border-bottom",
      "border-right",
      "border-left",
      "outline",
      "border-radius",
      "box-shadow",
      "cursor",
      "pointer-events",
      "animation",
      "transform",
      "transition"
    ]
  }
}