@import '~vars';

.wrapper {
  padding-left: 24px;
  width: 35%;

  p {
    font-size: 14px;
  }

  b {
    color: $red;
  }

  @media (max-width: $mobileSize) {
    margin-top: 24px;
    padding-left: 0 !important;
    width: 100%;
  }
}
